<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Team Rating</th>
      <th>Status</th>
      <th>Rating</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>School</th>
      <th>Email</th>
      <th>Github</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to "Team #{team.id}", team %></td>
        <td><%= '%.2f' % team.rating_avg if team.rating_avg %></td>
      </tr>
      <% team.hackers.each do |hacker| %>
        <tr>
          <td></td>
          <td></td>
          <td><%= hacker.status %></td>
          <td><%= hacker.rating %></td>
          <td><%= hacker.fname %></td>
          <td><%= hacker.lname %></td>
          <td><%= hacker.school.name if hacker.school %></td>
          <td><%= hacker.email %></td>
          <td><%= link_to hacker.github, "http://github.com/#{hacker.github}"%></td>
          <td><%= link_to 'Show', hacker %></td>
          <td><%= link_to 'Edit', edit_hacker_path(hacker) %></td>
          <td><%= link_to 'Destroy', hacker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
