<h1>
  Teams
  <% if can? :create, @teams %>
    <%= link_to 'New Team', new_team_path, class: 'btn btn-primary' %>
  <% end %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Team</th>
      <th><%= link_to 'Team Rating', :sort => 'rating_avg' %></th>
      <th>Status</th>
      <th>Rating</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>School</th>
      <th>Github</th>
    </tr>
  </thead>

  <tbody>
    <% i=0 %>
    <% @teams.each do |team| %>
      <% team.hackers.each do |hacker| %>
        <tr class="pointer <%= 'group-stripe' if i%2 == 0 %>" href="<%= hacker_path(hacker) %>">
          <% if hacker == team.hackers.first %>
            <td rowspan="<%= team.hackers.count %>" class="middle"><%= link_to "Team #{team.id}", team %></td>
            <td rowspan="<%= team.hackers.count %>" class="middle"><%= '%.2f' % team.rating_avg if team.rating_avg %></td>
          <% end %>
          <td><%= hacker.status.name %></td>
          <td><%= hacker.rating %></td>
          <td><%= hacker.fname %></td>
          <td><%= hacker.lname %></td>
          <td><%= hacker.school.name if hacker.school %></td>
          <td><%= link_to hacker.github, "http://github.com/#{hacker.github}"%></td>
        </tr>
      <% end %>
      <% i+=1 %>
    <% end %>
  </tbody>
</table>
<div class="center">
  <%= will_paginate @hackers, renderer: BootstrapPagination::Rails %>
</div>
