<p id="notice"><%= notice %></p>

<h1><%= "Team #{@team.id}'s Teammates" %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>School</th>
      <th>Github</th>
    </tr>
  </thead>

  <tbody>
    <% @team.hackers.each do |hacker| %>
      <tr>
        <td><%= link_to hacker.fname, hacker %></td>
        <td><%= hacker.lname %></td>
        <td><%= hacker.school.name if hacker.school %></td>
        <td><%= link_to hacker.github, 'http://github.com/' + hacker.github %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', teams_path, class: 'btn btn-primary' %>
<% if can? :update, @team %>
  <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary' %>
<% end %>
