<div class="index-carousel">
  <div class="carousel-images">
    <div class="carousel-item index-carousel-item mlb-victis active">
      <div class="index-carousel-item-wrapper">
        <section class="index-carousel-content">
          <%= form_tag({controller: "hackers", action: "commited"}, method: "get", class: "nifty_form") do %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Congratulations, you've been accepted to BoilerMake!</h3>
              </div>
              <div class="panel-body">
                <div class="email-text">
                  Please enter the email you used to apply.
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <%= label_tag :email, "Email:", :class => 'left email-label' %>
                    <%= text_field_tag :email, nil, :class => 'form-control email-btn', :required => true %>
                    <div class="input-group-btn">
                      <%= submit_tag "Submit", class: "btn btn-primary dropdown-toggle" %>
                    </div><!-- /btn-group -->
                  </div><!-- /input-group -->
                </div>
              </div>
            </div>
          <% end %>
        </section>
        <div class="index-carousel-overlay"></div>
        <div class="index-carousel-background">
<%= image_tag("corec2.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>
