<div class="index-carousel">
  <div class="carousel-images">
    <div class="carousel-item index-carousel-item mlb-victis active">
      <div class="index-carousel-item-wrapper">
        <section class="index-carousel-content2">
          <%= form_for @hacker, as: :hacker, url: "update_commit/#{@hacker.id}", method: :update_commit do |f| %>
          <%# <%= form_for(@hacker) do |f| %1> %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Complete the form below and click Commit to confirm your attendance.</h3>
              </div>
              <div class="panel-body">
                <p id="notice"><%= notice %></p>
                <div class="form">
                  <div class="row">
                    <div class="form-group col-xs-6">
                      <%= f.label :First, "First Name" %>
                      <%= f.text_field :fname, class: 'form-control' %>
                    </div>
                    <div class="form-group col-xs-6">
                      <%= f.label :Last, "Last Name" %>
                      <%= f.text_field :lname, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-6">
                      <%= f.label :tshirt_size, "T-Shirt Size" %>
                      <%= f.select(:tshirt_size, @tshirts, {}, { :class => 'form-control' }) %>
                    </div>
                    <div class="form-group col-xs-6">
                      <%= f.label :github, "Github URL" %>
                      <%= f.text_field :github, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :resume %>
                    <% if @hacker.resume.url == '/resumes/original/missing.png' %>
                      <%= f.file_field :resume, :required => true %>
                    <% else %>
                      <%= f.file_field :resume %>
                    <% end %>                    
                  </div>
                  <% if @hacker.resume_content_type == 'application/pdf' %>
                    <div class="form-group">
                      <%= link_to 'View your uploaded resume', @hacker.resume.url %>
                    </div>
                  <% end %>
                  <div class="form-group">
                    <%= f.submit "Commit", class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </section>
        <div class="index-carousel-overlay"></div>
        <div class="index-carousel-background">
          <%= image_tag("corec2.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>
