<h1>
  Hackers
  <% if can? :create, @hackers %>
    <%= link_to 'New Hacker', new_hacker_path, class: 'btn btn-primary' %>
  <% end %>

</h1>

<<<<<<< HEAD
<table class="table table-striped hacker-table">
=======
<table class="table table-striped">
>>>>>>> d0364e3f1fef46ae8e9b23223d18b89f208a7324
  <thead>
    <tr>
      <% if can? :index, :hackers, :status %>
        <th><%= sortable "status_id" %></th>
      <% end %>
      <% if can? :index, :hackers, :rating %>
        <th><%= sortable "rating" %></th>
      <% else %>
        <th><%= sortable "email" %></th>
      <% end %>
      <th><%= sortable "fname", "First Name" %></th>
      <th><%= sortable "lname", "Last Name" %></th>
      <th><%= sortable "school_id" %></th>
      <% if can? :index, :hackers, :github %>
        <th><%= sortable "github" %></th>
      <% else %>
        <th><%= sortable "cell" %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @hackers.each do |hacker| %>
      <tr class="clickable pointer" href="<%= hacker_path(hacker) %>">
        <% if can? :index, :hackers, :status %>
          <td><%= hacker.status.name if hacker.status %></td>
        <% end %>
        <% if can? :index, :hackers, :rating %>
          <td><%= '%.2f' % hacker.rating if hacker.rating %></td>
        <% else %>
          <td><%= hacker.email.downcase %></td>
        <% end %>
        <td><%= hacker.fname.capitalize %></td>
        <td><%= hacker.lname.capitalize %></td>
        <td><%= hacker.school.name if hacker.school %></td>
        <% if can? :index, :hackers, :github %>
          <td><%= link_to hacker.github.downcase, "http://github.com/#{hacker.github}"%></td>
        <% else %>
          <td><%= hacker.cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center">
  <%= will_paginate @hackers, renderer: BootstrapPagination::Rails %>
</div>
