<h1>Listing hackers</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Rating</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>School</th>
      <th>Github</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hackers.each do |hacker| %>
      <tr>
        <td><%= hacker.status %></td>
        <td><%= '%.2f' % hacker.rating if hacker.rating %></td>
        <td><%= hacker.fname %></td>
        <td><%= hacker.lname %></td>
        <td><%= hacker.school.name if hacker.school %></td>
        <td><%= link_to hacker.github, "http://github.com/#{hacker.github}"%></td>
        <td><%= link_to 'Show', hacker %></td>
        <td><%= link_to 'Edit', edit_hacker_path(hacker) %></td>
        <td><%= link_to 'Destroy', hacker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hacker', new_hacker_path %>
