<h1>Hackers <%= link_to 'New Hacker', new_hacker_path, class: 'btn btn-primary' %></h1>

<table class="table table-striped hacker-table">
  <thead>
    <tr>
      <th><%= sortable "status" %></th>
      <th><%= sortable "rating" %></th>
      <th><%= sortable "fname" %></th>
      <th><%= sortable "lname" %></th>
      <th><%= sortable "school" %></th>
      <th><%= sortable "github" %></th>
    </tr>
  </thead>

  <tbody>
    <% @hackers.each do |hacker| %>
      <tr class="clickable pointer" href="<%= hacker_path(hacker) %>">
        <td><%= hacker.status.name if hacker.status %></td>
        <td><%= '%.2f' % hacker.rating if hacker.rating %></td>
        <td><%= hacker.fname %></td>
        <td><%= hacker.lname %></td>
        <td><%= hacker.school.name if hacker.school %></td>
        <td><%= link_to hacker.github, "http://github.com/#{hacker.github}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center">
  <%= will_paginate @hackers, renderer: BootstrapPagination::Rails %>
</div>
