<h1>Listing hackers</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Rating</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>School</th>
      <th>Github</th>
      <th>GC</th>
      <th>GF</th>
      <th>GS</th>
      <th>Why</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hackers.each do |hacker| %>
      <tr>
        <td><%= hacker.team_id %></td>
        <%# <td><%= hacker.ratings.first.value if hacker.ratings.first %1></td> %>
        <td><%= '%.2f' % hacker.rating %></td>
        <td><%= hacker.fname %></td>
        <td><%= hacker.lname %></td>
        <td><%= hacker.school.name if hacker.school %></td>
        <td><%= link_to hacker.github, "http://github.com/#{hacker.github}"%></td>
        <td><%= hacker.g_contributions %></td>
        <td><%= hacker.g_followers %></td>
        <td><%= hacker.g_stars %></td>
        <td><%= hacker.why %></td>
        <td><%= link_to 'Show', hacker %></td>
        <td><%= link_to 'Edit', edit_hacker_path(hacker) %></td>
        <td><%= link_to 'Destroy', hacker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hacker', new_hacker_path %>
