<h1>Hackers</h1>

<table class="table" id="clickable">
  <thead>
    <tr>
      <th><%= sortable "status" %></th>
      <th><%= sortable "rating" %></th>
      <th><%= sortable "fname" %></th>
      <th><%= sortable "lname" %></th>
      <th><%= sortable "school" %></th>
      <th><%= sortable "github" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hackers.each do |hacker| %>
      <tr>
        <td><%= hacker.status.name if hacker.status %></td>
        <td><%= '%.2f' % hacker.rating if hacker.rating %></td>
        <td><%= hacker.fname %></td>
        <td><%= hacker.lname %></td>
        <td><%= hacker.school.name if hacker.school %></td>
        <td><%= link_to hacker.github, "http://github.com/#{hacker.github}"%></td>
        <td><%= link_to 'Show', hacker %></td>
        <td><%= link_to 'Edit', edit_hacker_path(hacker) %></td>
        <td><%= link_to 'Destroy', hacker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hacker', new_hacker_path %>

<script>
  $(document).ready(function() {

      $('#clickable tr').click(function() {
          var href = $(this).find("a").eq(1).attr("href");
          if(href) {
              window.location = href;
          }
      });

      $('#clickable tr').hover(function() {
          $(this).addClass('hover');
        }, function() {
          $(this).removeClass('hover');
});

  });
</script>