<h1>Listing hackers</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Status', :sort => "status" %></th>
      <th><%= link_to 'Rating', :sort => "rating" %></th>
      <th><%= link_to 'Fname', :sort => "fname" %></th>
      <th><%= link_to 'Lname', :sort => "lname" %></th>
      <th><%= link_to 'School', :sort => "school" %></th>
      <th><%= link_to 'Github', :sort => "github" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hackers.each do |hacker| %>
      <tr>
        <td><%= hacker.status %></td>
        <td><%= '%.2f' % hacker.rating if hacker.rating %></td>
        <td><%= hacker.fname %></td>
        <td><%= hacker.lname %></td>
        <td><%= hacker.school.name if hacker.school %></td>
        <td><%= link_to hacker.github, "http://github.com/#{hacker.github}"%></td>
        <td><%= link_to 'Show', hacker %></td>
        <td><%= link_to 'Edit', edit_hacker_path(hacker) %></td>
        <td><%= link_to 'Destroy', hacker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hacker', new_hacker_path %>
