<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @hacker.fname + ' ' + @hacker.lname %></h1>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Status:</strong>
      <%= @hacker.status.name if @hacker.status %>
    </li>

    <% if can? :show, :hackers, :contact_date %>
      <li class="list-group-item">
        <strong>Date Contacted:</strong>
        <%= @hacker.contact_date %>
      </li>
    <% end %>

    <% if can? :show, :hackers, :rating %>
      <li class="list-group-item">
        <strong>Rating:</strong>
        <%= @hacker.rating %>
      </li>
    <% end %>

    <li class="list-group-item">
      <strong>School:</strong>
      <%= school_link @hacker.school.name %>
    </li>

    <% if can? :show, :hackers, :team %>
      <li class="list-group-item">
        <strong><%= link_to 'Team:', @hacker.team %></strong>
        <% for teammate in @hacker.team.members.split(', ') do %>
          <%= link_to teammate + ', ', Hacker.find_by_fname_and_lname(teammate.split(' ')[0], teammate.split(' ')[1]) %>
        <% end %>
      </li>
    <% end %>

    <% if can? :show, :hackers, :rating_avg %>
      <li class="list-group-item">
        <strong>Team Rating:</strong>
        <%= @hacker.team.rating_avg %>
      </li>
    <% end %>

    <li class="list-group-item">
      <strong>Email:</strong>
      <%= @hacker.email %>
    </li>

    <% if can? :show, :hackers, :github %>
      <li class="list-group-item">
        <strong>Github:</strong>
        <%= link_to @hacker.github, 'http://www.github.com/' + @hacker.github %>
      </li>
    <% end %>

    <% if can? :show, :hackers, :tshirt_size %>
      <li class="list-group-item">
        <strong>Tshirt size:</strong>
        <%= @hacker.tshirt_size %>
      </li>
    <% end %>

    <% if can? :show, :hackers, :cell %>
      <li class="list-group-item">
        <strong>Cell Phone:</strong>
        <%= @hacker.cell %>
      </li>
    <% end %>

    <% if can? :show, :hackers, :why %>
      <li class="list-group-item">
        <strong>Why:</strong>
        <%= @hacker.why %>
      </li>
    <% end %>

    <% if can? :show, :hackers, :resume %>
      <li class="list-group-item">
        <strong>Resume:</strong>
        <% if @hacker.resume.url != '/resumes/original/missing.png' %>
          <%= link_to 'Resume', @hacker.resume.url %>
        <% else %>
          This hacker does not have a resume.
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <%= link_to 'Back', hackers_path, class: 'btn btn-primary' %>
  <% if can? :update, @hacker %>
    <%= link_to 'Edit', edit_hacker_path(@hacker), class: 'btn btn-primary' %>
  <% end %>
</div>
