<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @hacker.fname + ' ' + @hacker.lname %></h1>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Fname:</strong>
      <%= @hacker.fname %>
    </li>

    <li class="list-group-item">
      <strong>Lname:</strong>
      <%= @hacker.lname %>
    </li>

    <li class="list-group-item">
      <strong>Status:</strong>
      <%= @hacker.status.name if @hacker.status %>
    </li>

    <li class="list-group-item">
      <strong>Date Contacted:</strong>
      <%= @hacker.contact_date %>
    </li>

    <li class="list-group-item">
      <strong>Rating:</strong>
      <%= @hacker.rating %>
    </li>

    <li class="list-group-item">
      <strong>School:</strong>
      <%= school_link @hacker.school.name %>
    </li>

    <li class="list-group-item">
      <strong>Team:</strong>
      <%= @hacker.team.members %>
    </li>

    <li class="list-group-item">
      <strong>Team Rating:</strong>
      <%= @hacker.team.rating_avg %>
    </li>

    <li class="list-group-item">
      <strong>Email:</strong>
      <%= @hacker.email %>
    </li>

    <li class="list-group-item">
      <strong>Github:</strong>
      <%= @hacker.github %>
    </li>

    <li class="list-group-item">
      <strong>Tshirt size:</strong>
      <%= @hacker.tshirt_size %>
    </li>

    <li class="list-group-item">
      <strong>Why:</strong>
      <%= @hacker.why %>
    </li>
  </ul>
</div>

<%= link_to 'Edit', edit_hacker_path(@hacker) %> |
<%= link_to 'Back', hackers_path %>
