<%= form_for(@representative) do |f| %>
  <% if @representative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@representative.errors.count, "error") %> prohibited this representative from being saved:</h2>

      <ul>
      <% @representative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <%= f.label 'Sponsor' %><br>
              <%= f.collection_select :sponsor_id, @sponsors, :id, :company_name, {:include_blank => "Sponsor"}, {class: 'form-control'} %>  
            </div>
            <div class="form-group">
              <%= f.label :fname %><br>
              <%= f.text_field :fname %>
            </div>
            <div class="form-group">
              <%= f.label :lname %><br>
              <%= f.text_field :lname %>
            </div>
            <div class="form-group">
              <%= f.label :title %><br>
              <%= f.text_field :title %>
            </div>
            <div class="form-group">
              <%= f.label :email %><br>
              <%= f.text_field :email %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
