<h1>
  Representatives
  <%= link_to new_representative_path, class: 'btn btn-primary' do %>
    New Representative
  <% end %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Title</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @representatives.each do |representative| %>
      <tr class="clickable pointer" href="<%= representative_path(representative) %>">
        <td><%= representative.fname %></td>
        <td><%= representative.lname %></td>
        <td><%= representative.title %></td>
        <td><%= representative.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>