<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :tier %><br>
    <%= f.text_field :tier %>
  </div>
  <div class="field">
    <%= f.label :money_given %><br>
    <%= f.number_field :money_given %>
  </div>
  <div class="field">
    <%= f.label :has_paid %><br>
    <%= f.check_box :has_paid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
