<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :company_name %><br>
              <%= f.text_field :company_name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :tier %><br>
              <%= f.text_field :tier, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :tech_talk_time %><br>
              <%= f.text_field :tech_talk_time, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :money_given %><br>
              <%= f.number_field :money_given, class: 'form-control' %>
            </div>
            <div class="checkbox">
              <%= f.label :has_paid %>
              <%= f.check_box :has_paid %>
            </div>            
            <div class="checkbox">
              <%= f.label :mini_hack %>
              <%= f.check_box :mini_hack %>
            </div>
            <div class="actions">
              <%= f.submit class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
