<h1>
  Sponsors

  <%= link_to new_sponsor_path, class: 'btn btn-primary' do %>
    New Sponsor
  <% end %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Tier</th>
      <th>Money given</th>
      <th>Tech talk time</th>
      <th>Has paid?</th>
      <th>Mini hack?</th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr class="clickable pointer" href="<%= sponsor_path(sponsor) %>">
        <td><%= sponsor.company_name %></td>
        <td><%= sponsor.tier %></td>
        <td><%= sponsor.money_given %></td>
        <td>
          <% if sponsor.tech_talk_time %>
            <%= sponsor.tech_talk_time %>
          <% end %>
        </td>
        <td>
          <% if sponsor.has_paid %>
            <%= 'Yes' %>
          <% end %>
        </td>
        <td>
          <% if sponsor.mini_hack %>
            <%= 'Yes' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>