<p id="notice"><%= notice %></p>

<h1><%= @school.name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Rating</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>Github</th>
    </tr>
  </thead>

  <tbody>
    <% @school.hackers.each do |hacker| %>
      <tr class="clickable" href="<%= hacker_path(hacker) %>">
        <td><%= hacker.status.name if hacker.status %></td>
        <td><%= '%.2f' % hacker.rating if hacker.rating %></td>
        <td><%= hacker.fname %></td>
        <td><%= hacker.lname %></td>
        <td><%= link_to hacker.github, "http://github.com/#{hacker.github}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', schools_path, class: 'btn btn-primary' %>
<% if can? :update, @school %>
  <%= link_to 'Edit', edit_school_path(@school), class: 'btn btn-primary' %>
<% end %>
